<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" class="ios" tab="home">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Mis tareas</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/make-appointment" class="ios" tab="make-appointment">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Nueva tarea</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>