.contenedor-nuevo{
    width: 90%;
    margin: auto;
}

.descricont{
    height: 150px;
}

ion-textarea.descri{
    height: 300px !important;
}

textarea{
    height: 250px;
}


.btn-agregar{
    position: relative;
    margin-top: 200px;
}